html {
  scroll-behavior: smooth;
  background-color: rgb(7, 11, 39); /* &nbsp */
  position: relative !important;
  right: 0%;
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif !important;
  background: transparent;
}
header {
  justify-content: center;
  align-items: center;
}
.navbar {
  background: rgb(7, 11, 39);
  position: relative;
  top: 0 !important;
}
.nav-link {
  padding: 0 !important;
  color: white !important;
  width: auto;
}

ul {
  position: relative;
  flex-direction: row;
}
ul li {
  margin-top: 3px;
  position: relative;
  list-style: none;
  display: inline-block !important;
}
li a {
  display: inline-block !important;
}
ul li a {
  position: relative;
  font-size: 25px;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 5px solid var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 10px var(--clr));
}

section {
  color: rgb(7, 11, 39);
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 60px !important;
  text-decoration: solid !important;
}
#Home {
  padding-top: 200px !important;
  height: 900px;
  display: inline-block;
  text-align: center;
  font-size: 40px;
  color: white;
  background: url(img/fondo2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.name {
  font-size: 70px !important;
}

#Sobremi {
  padding-top: 100px !important;
  height: auto;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  padding-bottom: 100px;
  background: white !important;
}
.seccion {
  text-transform: uppercase !important;
  text-decoration: underline !important;
}

.list-group {
  margin: 50px 50px;
}
#info:hover {
  background: rgb(7, 11, 39);
  color: white;
}
#info {
  overflow: auto;
  color: rgb(7, 11, 39);
}

.title {
  text-decoration: underline !important;
}

#Experiencia {
  padding-top: 100px !important;
  background: rgb(7, 11, 39);
  height: auto;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  padding-bottom: 100px;
  color: white;
}
.exp {
  color: white !important;
  text-transform: uppercase !important;
  text-decoration: underline !important;
}
.row {
  padding-top: 50px !important;
  margin: 50px 50px !important;
  color: rgb(7, 11, 39);
}
.col-sm-6 {
  padding: 5px;
}
.list-group-flush {
  border: 6px solid rgb(7, 11, 39) !important;
  border-radius: 4px !important;
  background: white(8, 8, 36);
  border-top: 6px solid rgb(7, 11, 39) !important;
  color: rgb(7, 11, 39) !important;
  overflow: auto;
}

.card-body:hover {
  background: rgb(7, 11, 39);
  color: white;
}

.card-img-top {
  image-resolution: auto;
}

#exp {
  margin: 0;
}
#exp_ {
  font-size: 20px !important;
  border: 4px solid rgb(7, 11, 39);
  border-radius: 4px;
  position: relative;
  color: rgb(7, 11, 39);
}
#Educación {
  padding-top: 100px !important;
  padding-bottom: 100px;
  background: white;
  height: auto;
  display: inline-block;
  text-align: center;
  font-size: 20px !important;
  position: relative;
  margin: auto !important;
}
.h-100 {
  border: 4px solid rgb(7, 11, 39) !important;

  display: flex;
  align-content: center;
  max-width: 500px;
  margin: auto;
}
#coledu {
  padding: 10px;
}

#bodyedu {
  background: rgb(7, 11, 39);
  color: white;
}
#bodyedu:hover {
  background: white;
  color: rgb(7, 11, 39);
}

.btn {
  background: white !important;
  border-color: rgb(7, 11, 39) !important;
  text-decoration: none !important;
}
.btn:hover {
  background: rgb(7, 11, 39) !important;
  color: white !important;
  text-decoration: none !important;
  border-color: white !important;
}
.prog {
  color: rgb(7, 11, 39);
  text-decoration: none;
}
.prog:hover {
  color: white;
}

#Habilidades {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: rgb(119, 119, 119);
}

#icon {
  margin: auto;
  width: 200px;
  height: 200px;
  margin: 70px;
}

#Contacto {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: rgb(16, 16, 61);
}
.contact {
  font-size: 30px;
  font-weight: 600;
}
.iconcon {
  width: 100px;
  height: 100px;
}
#iconlinke:hover {
  border: 3px solid black;
  border-radius: 20px;
}
