/* &nbsp */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: black;
}
header {
  justify-content: center;
  align-items: center;
}

ul {
  position: relative;
  flex-direction: row;
}
ul li {
  margin-top: 3px;
  position: relative;
  list-style: none;
}
ul li a {
  position: relative;
  font-size: 25px;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px white;
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 5px solid var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 20px var(--clr));
}
section {
  color: brown;
  position: relative;
  padding: 100px;
  padding-top: 300px;
  box-sizing: border-box;
  transition: 0.5s;
  width: 100%;
}
#Home {
  background: white;
}

/*.nav-link {
  font-weight: 900 !important;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  letter-spacing: 3px;
}*/
